*{

    margin: 0;
    padding: 0;
}

 /*this is a navigation bar */                  
.nav-conteiner{
    display: flex;
    background-color:gray;
    padding: 10px;
    justify-content: space-around;
    align-items: center;


}
.agency-box{
    display: flex;
    list-style: none;
    gap: 15px;
    font-style: italicss;
    color: white;
    
}
span{
    color:aqua;

}

    /*this is a banner pannel*/

.bannar-conteiner{

    height: 100vh;
    background-image: url(./Asset/image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;

   

}
.btn-in{
    border: none;
    border-radius: 5px;
     padding: 12px 20px;
     margin-top: 10px;
     gap: 10px;


}

.bg-primary {
    background-color: rgb(248, 69, 3);
    color: white;
}
.primary{
    color: red;
}
.title{
    font-size: 80px;
    font-weight: bold;
    color: white;
}
.description{
    color: white;
    font-size: 25px;
    padding: 10px;
    width: 50%;
    margin: auto;
}

/* main conteiner service */

            .service-conteiner{
                background-color: black;
                color: white;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100vw;
                height: 100vh;
                padding: px;
               
            }


        /* left-box pannel */

        .service-box-left{
        }

        .service-box-left-info{
                padding: 1px;
                margin: 1px ;
               


        }
        h{
            font-size: 50px;
            font-weight: bold;
            padding: 0px;
        }
        p{
            font-size: 20px;
            padding: 10px;
        }
        ol li{

            font-size: 16px;
        }

        .service-box-left-author{
            display: flex;
            gap: 50px;
            align-items: center;
          
          
           
        
           
          

        }

            .author-img {
              width: 70px;
              height: 70px;
              border-radius: 35px;
            }

        .box-corner{
            display: flex;
            justify-content: center;
            align-items: centers;
          
        }

        .service-btn{

            padding: 5px;
            color: rgb(145, 134, 134);
            border: 1px solid;
            border-radius: 30px;
          
    
        }


   
 /* rigth image box */

 .service-info {

    border: 2px solid;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 250px;
    margin: 20px;
    padding: 15px;
    text-align: center;
    color: black;
  
   
  
   
 } 
   .img-box{
    width: 150px;
    height: 100px;
    


   }
   .two-service-box {
    display: flex;

   }

   /*appointment conteiner*/

   .apontment-conteiner{

    display: flex;
    justify-content: center;
    align-content: center;
    width: 70%;
    margin: auto;
    background-color: red;
    padding: 30px;
    margin-top: -50px;
    border-radius: 10px;

}



   .appn-btn{

        width: 200px;
        height: 75px;
        border-radius: 25px;
        border: 1px solid;
        padding: 10px;
 
        font-size:20px;



   }

   .img-appn{

            width: 160px;
            height: 80px;
   }
   .phone-call{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 5px;
    border-right: 5px ;

   }
   
   /* blog-conteiner*/

   .card-container{

 

   }
   .cards{
    display: flex;
    justify-content: center;
    align-items: center;
 padding: 20px;
 margin: 30px;
    border: 2px solid`;
    gap: 50px;

   }
  
    .card{
            width: 600px;
            height: 450px;
          
           
       
            border-radius: 10px;
            box-shadow: 4px 4px 4px grey;



    }
   .blog-img {
    width: 100%;
    border-radius: 10px;
   
  

   }
   .card-conteiner-title{
    text-align: center;
    margin: 50px;

   }
  .card-conteiner-description{

    text-align: center;
    padding: 80px;

  }


   /* footer conteiner */

  .footer-conteiner {

            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100vw;
            height: 60vh;
            background-image:url(./Asset/image/footer-bg.png) , 
            linear-gradient(black);
            background-color: black;
          
            color: white;
            margin: auto;

.footer-box{

    padding: 15px;
    margin: auto;


}

.footer-box li {
    list-style: none;
}

   .logo-parg {
        width: 200px;
      

   }
