*{

    margin: 0;
    padding: 0;
}

 /*this is a navigation bar */                  
.nav-conteiner{
    display: flex;
    background-color:gray;
    padding: 10px;
    justify-content: space-around;
    align-items: center;


}
.agency-box{
    display: flex;
    list-style: none;
    gap: 15px;
    font-style: italicss;
    color: white;
    
}
span{
    color:aqua;

}

    /*this is a banner pannel*/

.bannar-conteiner{

    height: 100vh;
    background-image: url(./Asset/image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;

   

}
.btn-in{
    border: none;
    border-radius: 5px;
     padding: 12px 20px;
     margin-top: 10px;
     gap: 10px;


}

.bg-primary {
    background-color: rgb(248, 69, 3);
    color: white;
}
.primary{
    color: red;
}
.title{
    font-size: 80px;
    font-weight: bold;
    color: white;
}
.description{
    color: white;
    font-size: 25px;
    padding: 10px;
    width: 50%;
    margin: auto;
}

/* main conteiner service */

            .service-conteiner{
                background-color: black;
                color: white;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100vw;
                height: 100vh;
                padding: px;
               
            }


        /* left-box pannel */

        .service-box-left{
        }

        .service-box-left-info{
                padding: 1px;
                margin: 1px ;
               


        }
        h{
            font-size: 50px;
            font-weight: bold;
            padding: 0px;
        }
        p{
            font-size: 20px;
            padding: 10px;
        }
        ol li{

            font-size: 16px;
        }

        .service-box-left-author{
            display: flex;
            gap: 50px;
            align-items: center;
          
           
        
           
          

        }

            .author-img {
              width: 70px;
              height: 70px;
              border-radius: 35px;
            }

        .box-corner{
            display: flex;
            justify-content: center;
            align-items: centers;
           border-right: 20px;
           padding-right: 20px;
        }

        .service-btn{

            padding: 5px;
            color: rgb(145, 134, 134);
            border: 1px solid;
            border-radius: 30px;
    
        }


   
 /* rigth image box */

 .service-info {

    border: 2px solid;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 250px;
    margin: 20px;
    padding: 15px;
    text-align: center;
    color: black;
  
   
  
   
 } 
   .img-box{
    width: 150px;
    height: 100px;
    


   }
   .two-service-box {
    display: flex;

   }




   
